@model EntityLayer.Concrete.Mesaj
@{
    ViewBag.Title = "SendboxDetay";
    Layout = "~/Views/Shared/_LayoutYazar.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mesaj Oku ~ Tatlı Sözlük</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("CardPartial", "YazarPanelMesaj")
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Gönderilen Mesaj</h3>

                            <div class="card-tools">
                                <a href="#" class="btn btn-tool" title="Previous"><i class="fas fa-chevron-left"></i></a>
                                <a href="#" class="btn btn-tool" title="Next"><i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="mailbox-read-info">
                                <h5>Konu: @Model.Konu</h5>
                                <br />
                                <h6>
                                    Gönderilen Mail: @Model.AliciMail
                                    <span class="mailbox-read-time float-right">@(((DateTime)Model.MesajTarih).ToString("dd MMMM yyyy"))</span>
                                </h6>
                            </div>
                            <!-- /.mailbox-read-info -->

                            <div class="mailbox-read-message">
                                <p>@Model.MesajIcerik</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row --><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>
