@model EntityLayer.Concrete.Yazar
@{
    ViewBag.Title = "YazarDuzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Yazar Düzenleme Alanı</h2>
<br />

@using (Html.BeginForm("YazarDuzenle", "Yazar", FormMethod.Post))
{
    @Html.Label("Yazar ID'si")
    @Html.TextBoxFor(x => x.YazarID, new { @class = "form-control", @readonly = "true" })
    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.YazarAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarAd, "", new { @style = "color: red;" })
    <br />
    @Html.Label("Yazar Açıklaması")
    @Html.TextBoxFor(x => x.YazarAciklama, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarAciklama, "", new { @style = "color: red;" })
    <br />
    @Html.Label("Yazar Maili")
    @Html.TextBoxFor(x => x.YazarMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarMail, "", new { @style = "color: red;" })
    <br />
    @Html.Label("Yazar Şifresi")
    @Html.TextBoxFor(x => x.YazarSifre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarSifre, "", new { @style = "color: red;" })
    <br />
    @Html.Label("Yazar Ünvanı")
    @Html.TextBoxFor(x => x.YazarUnvan, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarUnvan, "", new { @style = "color: red;" })
    <br />
    @Html.Label("Yazar Görseli Linki")
    @Html.TextBoxFor(x => x.YazarResim, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.YazarResim, "", new { @style = "color: red;" })
    <br />
    <button class="btn btn-info">Değişiklikleri Kaydet</button>
}